* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, #9b47c8, #41009b);
}
.container {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: auto 0;
    padding: 40px 60px;
}

.btn {
    color: #fff;
    background-color: #9b78b5;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
}
